# Common Python ignores
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log

# Virtual environments
venv/
.env/

# Knowledge files or databases
data/
knowledge/
*.pdf
*.zip
*.tar
*.mp4
*.png
*.jpg

# Streamlit and other cache
.streamlit/
.cache/
venv/
*.dylib
